<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

    <Properties>

        <Property name="LOG_DIR">logs</Property>

        <Property name="PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS}
            [%t]
            %-5level
            %c{1}
            -
            %msg%n
        </Property>

    </Properties>

    <Appenders>

        <!-- Console -->

        <Console name="Console"
                 target="SYSTEM_OUT">

            <PatternLayout
                    pattern="${PATTERN}"/>

        </Console>

        <!-- Rolling File -->

        <RollingFile

                name="RollingFile"

                fileName="${LOG_DIR}/framework.log"

                filePattern="${LOG_DIR}/framework-%d{yyyy-MM-dd}-%i.log.gz">

            <PatternLayout

                    pattern="${PATTERN}"/>

            <Policies>

                <TimeBasedTriggeringPolicy/>

                <SizeBasedTriggeringPolicy
                        size="10 MB"/>

            </Policies>

            <DefaultRolloverStrategy
                    max="20"/>

        </RollingFile>

    </Appenders>

    <Loggers>

        <Root level="info">

            <AppenderRef ref="Console"/>

            <AppenderRef ref="RollingFile"/>

        </Root>

    </Loggers>

</Configuration>